@model IEnumerable<ProjetoEscola.Models.tbProfessor>

@{
    ViewBag.Title = "Professores";
}

<h2>Professores</h2>
<br />
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/tabelas.css" media="screen" />
</head>
<p>
    <a href="@Url.Action("Create")" class="btn btn-md btn-primary" style="margin-top:20px">
        <span class="glyphicon glyphicon-plus"></span> AdicionarProfessor
    </a>
</p>
<table class="table">
    
        <tr>
            <th>
                Nome
            </th>
            <th>
                Materia
            </th>
           <th>Ação</th>
        </tr>
    

@foreach (var item in Model) {
    <tr >
        <td>
            @Html.DisplayFor(modelItem => item.nmProfessor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nmMateria)
        </td>
       
        <td width="20%">
            <a href='@Url.Action("Create", "tbAluno", new { id = item.cdProfessor })' class="botao" data-toggle="tooltip" data-placement="top" title="Listar Alunos"><span>Adicionar Alunos</span></a>
            <a href='@Url.Action("Index", "tbAluno", new { id = item.cdProfessor })' class="botao" data-toggle="tooltip" data-placement="top" title="Listar Alunos"><span>Lista Alunos</span></a>
        </td>
    </tr>
}

</table>
