@model IEnumerable<ProjetoEscola.Models.tbAlunoProfessor>

@{
    ViewBag.Title = "Aluno";
}

<h2>Aluno(s) Professor(a): @ViewBag.nmProfessor</h2>
<p>
    <a href="@Url.Action("Index", "tbProfessor")" class="btn btn-sm btn-warning" style="margin-top:20px">
         Voltar
    </a>
   
</p>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/tabelas.css" media="screen" />
</head>
<table class="table" id="tblAluno">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Valor Mnesalidade
        </th>
        <th>
            Data Vencimento
        </th>
        <th>
            Professor
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbAluno.nmAluno)
        </td>
        <td>
            @string.Format(new System.Globalization.CultureInfo("pt-BR"), "{0:c}", @item.tbAluno.valorMensalidade)
        </td>
        <td>
            @item.tbAluno.vencimentoMensalidade.Value.ToString("dd/MM/yyyy")
        </td>
        <td>
            @item.tbProfessor.nmProfessor
        </td>
        
    </tr>
}

</table>
