@model IEnumerable<ProjetoEscola.Models.tbAluno>

@{
    ViewBag.Title = "Aluno";
}

<h2>Todos Alunos</h2>

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/tabelas.css" media="screen" />
    
</head>
<script>
    function deletarAluno(ID) {        
            $.ajax({
                url: "/tbAluno/Delete/" + ID,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $("#tblAluno").load(window.location + " #tblAluno");
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });       
    }
</script>
<p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-sm btn-warning" style="margin-top:20px">
        Página Inicial
    </a>
</p>

<table class="table" id="tblAluno">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Valor Mnesalidade
        </th>
        <th>
            Data Vencimento
        </th>
        <th>
            Professor
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nmAluno)
        </td>
        <td>
            @string.Format(new System.Globalization.CultureInfo("pt-BR"), "{0:c}", @item.valorMensalidade)
        </td>
        <td>
            @item.vencimentoMensalidade.Value.ToString("dd/MM/yyyy")
        </td>
        <td>
            @if(item.tbAlunoProfessor.Count != 0) {
                @item.tbAlunoProfessor.FirstOrDefault().tbProfessor.nmProfessor;
        }
            else {
            <p>SEM PROFESSOR</p>
            }
        </td>

        <td class="text-right">
            <button onclick="deletarAluno(@item.cdAluno)" id="btnDeletar" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Deletar"><span>Deletar</span></button>
        </td>
    </tr>
}

</table>
